<% provide(:title, "About") %>
<!DOCTYPE html>

<html>
<head> 
    <title><%= yield(:title) %> | Group Rails Application</title>
    <h1>Welcome to our <i>About</i> page!</h1>
</head>
<p>This is our spectacular website for COS 243</p>
<p>Written by Jaylyn Henegar</p>
<a href="https://cse.taylor.edu/html/">Taylor CSE Website</a>
</html>